extends layouts/main-layout.pug

block content    
    if !profileUser
        span.errorMessage Check the url you are trying to get
    else
        script.
            var profileUserId = '${profileUser._id}' 
            var selectedTab = '${selectedTab}'

        - followerCount = profileUser.followers.length 
        - followingCount = profileUser.following.length

        .profileHeaderContainer
            .coverPhotoContainer
                .userImageContainer
                    img(src=profileUser.profilePic, alt="User profile image")
                
            .profileButtonContainer 
                if profileUser._id != userLoggedIn._id 
                    div.profileButton
                        i.fas.fa-envelope 

                    - var profileUserId =  profileUser._id.toString()
                    - if(userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
                        +createFollowButton(profileUser,true)
                    - else
                        +createFollowButton(profileUser,false)

            .userDetailsContainer
                span.displayName #{profileUser.firstName} #{profileUser.lastName}
                span.username @#{profileUser.username}
                span.description #{profileUser.description}

                .followersContainer 
                    a(href=`/profile/${profileUser.username}/following`)
                        span#followingValue.value #{followingCount}
                        span Following
                    a(href=`/profile/${profileUser.username}/followers`)
                        span#followersValue.value #{followerCount}
                        span Followers

        //- .postsContainer
        //- +createDeletePostModal()

//- block  scripts 
//-     script(src="/js/profile.js")
